@charset "utf-8";

#page_top{
  z-index: 99;
  position: fixed;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-top-left-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f102';
  color: #fff;
  position: absolute;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'TOP';
  color: #fff;
  position: absolute;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

#page_top a:hover{
  opacity: 0.6;
}

#page_top{
  width: 65px;
  height: 65px;
  right: 0;
  bottom: 0;
}
#page_top a{
  width: 65px;
  height: 65px;
}
#page_top a::before{
  font-size: 20px;
  width: 25px;
  height: 15px;
  top: -10px;
  bottom: 0;
  right: 0px;
  left: 0;
}
#page_top a::after{
  font-size: 15px;
  top: 40px;
  bottom: 0;
  right: 0px;
  left: 0;
}